---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../config'

import Body from '../components/Body.astro'
import Main from '../components/Main.astro'
---

<!DOCTYPE html>
<html lang="zh" style="overflow: overlay;min-height: 100vh;">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <Main>
      <h1 class="text-center">{SITE_DESCRIPTION}</h1>
    </Main>
    <Footer />
  </Body>
</html>
