<body
  class="bg-orange-50 dark:bg-zinc-900 text-zinc-900 dark:text-zinc-300 break-words leading-6 transition-colors duration-500"
>
  <img
    style="width: 300px; height: 300px; display:none;"
    src="/shareIcon.png"
  />
  <slot />
</body>
