---
import shareLogo from '/shareIcon3.jpg'
---

<body
  class="bg-white dark:bg-zinc-900 text-zinc-900 dark:text-zinc-300 break-words leading-6 transition-colors duration-500"
>
  <div style="display:none">
    <img src="https://blog.peterchen97.cn/favicon.png" />
  </div>
  <slot />
</body>
