---
import shareLogo from '/shareIcon3.jpg'
---

<body
  class="bg-orange-50 dark:bg-zinc-900 text-zinc-900 dark:text-zinc-300 break-words leading-6 transition-colors duration-500"
>
  <img
    alt=""
    style="width:0;height:0;position:absolute;"
    src="https://i.328888.xyz/2023/01/26/bG7Eq.jpeg"
  />
  <slot />
</body>
