---
import { HOMEPAGE_URL } from '../config'
import VisitedCount from './VisitedCount'

const today = new Date()
---

<footer class="text-zinc-500 p-4 text-center">
  &copy; {today.getFullYear()}
  <a href={HOMEPAGE_URL}>Peter Chen</a>. All rights reserved.
  <VisitedCount client:load />
  <div class="flex flex-row gap-3 justify-center">
    <a
      class="underline underline-offset-2 hover:text-orange-500 decoration-orange-500"
      href="https://uptime11.zeabur.app/status/mine">Service Status</a
    >|
    <a
      class="underline underline-offset-2 hover:text-orange-500 decoration-orange-500"
      href="https://panel.peterchen97.cn">Server Status</a
    >
  </div>
</footer>
