---
import HeaderLink from './HeaderLink.astro'

import ThemeToggle from './ThemeToggleButton'

import logoSvg from '/favicon.svg'
import DropdownMenu, { MENUS } from './DropdownMenu'
---

<header class="fixed w-full p-2 z-20 backdrop-blur-md">
  <div class="mx-auto max-w-3xl">
    <nav class="flex items-center gap-3 text-base">
      <a href="/">
        <h2
          class="font-semibold tracking-tighter p-2 text-lg flex items-center"
        >
          <img src={logoSvg} class="inline" />
          龙场茶室
        </h2>
      </a>
      <div class="items-center gap-6 hidden md:flex">
        {MENUS.map((menu) => (
          <HeaderLink href={menu.path} target={menu.target}>
            {menu.hideIcon ? '' : (menu.icon && <menu.icon />)}
            {menu.hideTitle ? '' : menu.title}
          </HeaderLink>
        ))}
      </div>
      <div class="flex-1"></div>
      <ThemeToggle client:visible />
      <DropdownMenu client:visible />
    </nav>
  </div>
</header>
