---
export interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { href, ...props } = Astro.props

const { pathname } = Astro.url
const isActive = href === pathname || href === pathname.replace(/\/$/, '')
---

<a href={href} class:list={[{ active: isActive }]} {...props}>
  <slot />
</a>
<style>
  a {
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    gap: 4px;
  }
  a.active {
    font-weight: bolder;
    text-decoration: underline;
  }
</style>
