<section
  class="py-4 text-4xl text-2xl text-xl font-bold border border-slate-300 dark:border-zinc-700 rounded-xl mb-6 underline underline-offset-2 hover:text-orange-500 decoration-orange-500'"
>
</section>
