<section
  class="p-1 bg-gray-100 dark:bg-gray-800 p-2 rounded-md p-4 rounded-md pb-1 leading-7 py-1 border-gray-500 text-3xl pt-6 border-l-4 border-orange-500 pl-4 py-4 text-4xl text-2xl text-xl font-bold border border-slate-300 dark:border-zinc-700 rounded-xl mb-6 underline underline-offset-2 hover:text-orange-500 decoration-orange-500 list-disc pl-5 mb-3 py-3 py-2 py-1 text-justify mx-auto max-h-44 max-h-[500px] mx-auto"
>
</section>
