<section
  class="border-gray-500 pt-6 border-l-4 border-orange-500 pl-4 py-4 text-4xl text-2xl text-xl font-bold border border-slate-300 dark:border-zinc-700 rounded-xl mb-6 underline underline-offset-2 hover:text-orange-500 decoration-orange-500 list-disc pl-5"
>
</section>
